.wrapper{
    width: 30vw;
    background: #ede9e9;
}
header{
    font-size: 1.8rem;
    text-align: center;
    border-bottom: 2px solid black;
}
.playlist{
    height: 50vh;
    width: 27vw;
    overflow-y: auto;
}
li{
    width: 90%;
    padding: 10px;
    text-align: left;
    font-size: 1.2rem;
}
li:hover{
    cursor: pointer;
    background: #c1c0c0;
}
img{
    rotate: 180deg;
    position: relative;
    left: 0;
}
.fa-trash{
    color: #dd4646;
    position: relative;
    left: 0;
}
/* #file{
    margin-top: 5px;
} */